@import 'quill/dist/quill.snow.css';
@import 'quill-table-better/dist/quill-table-better.css';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

app-root {
  display: block;
  height: 100%;
  min-height: 0;
}